---
---

@import "{{ site.theme }}";

$background_color: rgb(11, 11, 10);
$text_color: white;

header {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    margin-top: 36px;
    position: relative;
    border-bottom: none;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 4px rgba(0,0,0,.17);
    overflow: hidden;
    height: 210px;
}


header img {
    position: absolute;
    bottom: -40px;
}

.main-content h2:before, .main-content h1:before, .main-content h3:before, .main-content h4:before, .main-content h5:before {
    content: none;
}

h5.keynote-speaker, h5.talk_speaker {
    margin-left: 0;
    margin-top: -18px;
}

#content-wrapper {
    border-top: none;
}

.equal_contribution {
    cursor: pointer;
}

.footnote_box {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.footnote {
    font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    text-align: left;
}

#main-content h2, #main-content h1, #main-content h3 {
font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
text-indent: 0;
}

.floating-description {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: $text_color;
    font-size: 27px;
    max-width: 500px;
}

.title_bar {
    position: fixed;
    top: 0;
    background: $background_color;
    width: 100%;
    z-index: 100;
    padding-top: 5px;
}
.title_bar h1 {
    font-size: 24px;
}

ul.navigation, ul.mobile-navigation {
    list-style-type: none;
    list-style: none;
}

ul.navigation {
    font-size: 22px;
    padding-top: 20px;
    padding: 0;
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    margin-left: 50px;
}
li.navigation-link, li.mobile-navigation-link {
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
li.navigation-link, li.mobile-navigation-link {
    color: $text_color;
    transition: color 0.1s ease-in-out;
    white-space: nowrap;
}

ul.navigation-below {
    margin-left: 0;
}

li.navigation-link {
    padding-right: 16px;
    padding-left: 0;
    font-size: 18px;
}
li.navigation-link a, li.mobile-navigation-link a {
    color: inherit;
}
li.navigation-link:hover, li.mobile-navigation-link:hover {
    color: #5029CA;
}
li.navigation-link-active, li.mobile-navigation-link-active {
    color: #1B66F1;
}
li.navigation-link-active:hover, .mobile-navigation-active:hover {
    color: #165ADC;
}
li.navigation-link-title, {
    margin-right: 50px;
    font-size: 24px;
    color: $text_color;
}
.mobile-navigation {
    display: none;
}

.mobile-navigation-link {
    font-size: 15px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background: $background_color;
    margin-right: 2px;
    border: 1px solid rgba(0,0,0,0.05);
}

ul.footnotes {
    list-style-type: none;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding-top: 5px;
}

body {
    background: $background_color;
}

.navigation-home-message, li.navigation-home {
    font-size: 12px;
    line-height: 16px;
    color: $text_color;
}
.navigation-home-message {
    opacity: 0.8;
}

.other-site-nav {
    background: $background_color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 2px;
    padding-left: 50px;
}

li.navigation-home {
    padding: 0 6px;
    background: $background_color;
    opacity: 0.9;
    height: auto;
    border: 1px solid rgba(0,0,0,0.05);
    margin-right: 2px;
}
li.navigation-home:hover {
    opacity: 1;
    color: #5029CA;
}

@media only screen and (max-width: 700px) {
    .hide-on-mobile {
        visibility: hidden;
    }
    .mobile-navigation {
        display: block;
    }
    .mobile-super-hidden {
        display: none !important;
    }
    li.navigation-home {
        padding: 8px 6px;
        margin-top: 2px;
    }
    li.navigation-link-title {
        font-size: 20px;
    }
    .other-site-nav {
        padding-bottom: 0;
    }
    header {
        height: 120px;
    }
    .floating-description {
        padding-top: 45px;
        left: 25px;
        font-size: 20px;
    }
}

.no-mobile-480 {
    visibility: visible;
}
.mobile-480 {
    visibility: hidden;
}

@media only screen and (max-width: 500px) {
    .other-site-nav {
        padding-left: 5px;
    }
    .navigation-home-message {
        display: none;
    }
    .no-mobile-480 {
        visibility: hidden;
    }
    .mobile-480 {
        visibility: visible;
    }
}

body, html, .title_bar {
    background: $background_color;
}

header {
    // remove default theme background
    background: none;
}

table.links {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
table.links, table.links td, table.links tr {
    border: none;
}
table.links td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
